.anim-box {
  background-image: url(https://raw.githubusercontent.com/logore/amazon-prime-video-1080p/master/icons/icon128.png);
  width: 120px;
  height: 120px;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1111;
}

.anim-box.popup {
  animation: popup 0.6s cubic-bezier(0.22, 1, 0.36, 1) 1 forwards;
}
 
@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
  60%, 80% {
    opacity: 1;
  }
}
 